*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.logo{
	width: 20%;
	float: left;
}

.menu{
	width: 50%;
	float: left;


}

.menu nav ul li a{
	text-decoration: none;

}

.social-icon{
	width: 30%;
	float: left;
}

.menu nav ul li{
	display: inline-block;
	margin: 20px;

}

.social-icon ul{
	
	list-style: none;
}

.social-icon ul li{
	display: inline-block;
	margin: 20px;	
}

.fa.fa-facebook-official:hover{
	background-color: #fff;
	color: blue;
	padding-top: 6px 10px;
	transition: 0.4s ease;
}

.fa.fa-linkedin-square:hover{
	background-color: #fff;
	color: #0077B5;
	padding-top: 6px 10px;
	transition: 0.4s ease;
}

.fa.fa-twitter:hover{
	background-color: #fff;
	color:  #00acee;
	padding-top: 6px 10px;
	transition: 0.4s ease;
}

.fa.fa-google-plus:hover{
	background-color: #fff;
	color: #CC3333;
	padding-top: 6px 10px;
	transition: 0.4s ease;
	}


.one{
	width: 25%;
	height: 300px;
	margin:30PX auto;
	float: left;
	}

.two{
		width: 25%;
	height: 300px;
	margin:30PX auto;
	float: left;
	}

.three{
		width: 25%;
	height: 300px;
	margin:30PX auto;
	float: left;
	}

.four{
	width: 25%;
	height: 300px;
	margin:30PX auto;
	float: left;
	}
.fa.fa-check-circle{
	color: blue;
}

.fa.fa-map-marker{
	color: darkcyan;
}

.fa.fa-money{
	color: green;
}

.fa.fa-user-plus{
	color: limegreen;